#projects {
  color: aliceblue;
  line-height: 1.4;
  margin-bottom: 4rem;
  font-size: 20px;
}

.container1 {
  padding: 20px;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  margin-top: 20px;
}

.project-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project-list h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.project-list p {
  flex-grow: 1;
}

.project-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 8;
  animation: sliptop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
  margin-top: auto;
  text-align: center;
}

.read:hover {
  background: var(--main-color);
  color: #0ef;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.project-list div:hover {
  transform: translateY(-30px);
}

@media (max-width: 768px) {
  .project-list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media (max-width: 480px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
