@import url("https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.animate {
  opacity: 1; /* Ensure animate class does not hide elements */
}

.animate.scroll {
  transition: 1s ease;
  transition-delay: calc(0.3s / var(--i));
}

.animate.home-img {
  width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate {
  animation: showRight 1s ease forwards;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

/* Additional styles for responsiveness */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }
  section {
    padding: 10rem 4% 2rem;
  }
  .home {
    padding: 0 4%;
  }
  .footer {
    padding: 2rem 4%;
  }
}

@media (max-width: 768px) {
  .header {
    background-color: var(--bg-color);
  }

  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    background-color: var(--main-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.25s;
  }
  .navbar.active {
    left: 0;
    transition-delay: 0s;
  }
  .navbar .active-nav {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: -1;
    transition: 0.25s ease;
    transition-delay: 0s;
  }
  .navbar.active .active-nav {
    left: 0;
    transition-delay: 0.25s;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    transform: translateX(-20rem);
    transition: 0.25s ease;
    transition-delay: 0s;
  }
  .navbar.active a {
    transform: translateX(0);
    transition-delay: 0.25s;
  }

  .home-imghover {
    pointer-events: none;
    background-color: var(--bg-color);
    opacity: 0.6;
  }
}

@media (max-width: 520px) {
  html {
    font-size: 50%;
  }
  .home-content h1 {
    display: flex;
    flex-direction: column;
  }

  .home-sci {
    width: 160px;
  }
  .home-sci a {
    width: 38px;
    height: 38px;
  }
}

@media (max-width: 462px) {
  .home-content h1 {
    font-size: 5.2rem;
  }
  .education {
    padding: 10rem 4% 5rem 5%;
  }
  .contact form .input-box .input-field {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 371px) {
  .home {
    justify-content: center;
  }

  .home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .home-content h1 {
    font-size: 5rem;
  }
}

/* Assuming your header height is 70px */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 70px; /* Set a fixed height for the header */
}

section {
  padding-top: 80px;
  /* margin-top: -70px; */
}

@media (max-width: 768px) {
  section {
    padding-top: 50px;
    /* margin-top: -60px; */
  }
}
